.orderItems{
    float: left;
    height:300px;
    width:250px;
    margin:2%;
    box-shadow:10px 20px 10px gray
}
.orderItems > img{
    height:200px;
    width:100%;
}
.mainPlaceWrapper{
    overflow: auto;
}
.panel{
     background-color: #CB916B;
     margin-top: 40px;
}