.font{
    font-weight: bold;
    font-size: 35px;
    display: flex;
    justify-content: center;
    color: #CB916B;
}

.meal-text{
    font-weight: 500;
    font-size: 20px;
    color: #CB916B;
}
@media screen and (max-width: 768px) {
   
    .meal-text{
        font-size: 14px;
    }
    }