.mealcard{
    width: 450px;
    height: auto;
    display: inline-block;
    margin: 20px;
    justify-content: center;
    z-index: -1;
}
.mealcard-text{
    font-size: 25px;
    color: #CB916B;
    font-weight: 600;
}
.mealcard-inner{
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

