.header-banner {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999999;
}
.nav-banner {
    background-color: #CB916B;
    height: 60px;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
}

.navbar-brand {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    margin-right: 8%;
}
.navbar-toggler{
    background-color: #fff;
}

.navbar-collapse{
    background-color: #CB916B;
}

@media screen and (max-width: 768px) {
    .foodText{
        font-size: 35px !important;
    }
    .foodInnerText{
        font-size: 20px !important;
        white-space: no-wrap !important;
        
    }
  }